.App {
  text-align: center;
  box-sizing: border-box;
}

.taskInput {
  border: 0px solid transparent;
  border-radius: 0px;
  font-size: 24px;
  padding: 10px 15px;
  background-color: violet;
}

button:hover {
  background-color: mediumspringgreen;
}

.task {
  font-size: 24px;
  padding: 10px 15px;
  background-color: rosybrown;
  width: 60%;
  margin: 4px auto;
  word-wrap: break-word;
}

.doneTask {
  text-decoration: line-through;
}

label {
  display: block;
}

#sortLabels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}